{% load static %}


<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, intial-scale=1.0, user-scalable=no">
		<title>Rover Controller</title>
		<link rel="stylesheet" href="{% static 'controller/css/font.css' %}">
		<link rel="stylesheet" href="{% static 'controller/css/main.css' %}">
<script src="{% static 'controller/js/main.js' %}"></script>
	</head>
	<body>
		<h1 >Gas Detecting Rover</h1>
		<img class="camera-bg" style="background-attachment:fixed;" id="bg" class="center" src="/controller/video_feed">
		<div class="main_grid">
		<div class="grid_container ">
			<div class="grid_row1">

		<a class="button button-on" onclick="fetch('/controller/forward_left')">&nwarr;</a>

		<a class="button button-on" onclick="fetch('/controller/left')">&larr;
		</a>

		<a class="button button-on" onclick="fetch('/controller/reverse_left')">&swarr;</a>
			</div>
			<div class="grid_row2">
				<a class="button button-on" onclick="fetch('/controller/forward')">
				&uarr;	
				</a>		

		<a class="button button-off" onclick="fetch('/controller/brake')">Brake</a>

		<a class="button button-on" onclick="fetch('/controller/backward')">&darr;
		</a>
			</div>
			<div class="grid_row3">

		<a class="button button-on" onclick="fetch('/controller/forward_right')">&nearr;</a>

		<a class="button button-on" onclick="fetch('/controller/right')">&rarr;
		</a>

		<a class="button button-on" onclick="fetch('/controller/reverse_right')">&searr;</a>
			</div>

		
		</div>
		<table class="">
			<thead>
				<tr>
					<th>Label</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Temp:</td>
					<td id="tempValue">0</td>
				</tr>
				<tr>
					<td>Hum:</td>
					<td id="humValue">0</td>
				</tr>
				<tr>
					<td>voc</td>
					<td id="vocValue">0</td>
				</tr>
			<tr>
					<td>adc_raw:</td>
					<td id="adc_rawValue">0</td>
				</tr>
			</tbody>
		</table></div>
	</body>

</html>
